<p id="notice"><%= notice %></p>

<p>
  <b>Author:</b>
  <%= @post.author_id %>
</p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p>
  <b>Deadline:</b>
  <%= @post.deadline %>
</p>

<% if current_user.id == @post.author_id %>
  <%= link_to 'Edit', edit_post_path(@post) %>
<% end %>

<hr/>
<h3>Comments</h3>
<% unless @post.comments.empty? %>
  <% @post.comments.each do |c| %>
    <div class="comment">
    	<%= c.user.name %> said, "<%= c.comment %>" 
    	(<%= time_ago_in_words c.created_at %> ago)
    </div>
  <% end %>
<% end %>
<%= form_tag('/posts/comment') %>
  <%= hidden_field_tag :id, @post.id %>
  <%= text_area_tag :comment %>
  <div class="actions">
    <%= submit_tag "Make an Offer" %>
  </div>
</form>